#contents{
	height: 200px;
	width: 100%;
}

#chatLogDiv{
	float: left;
	background-color: #286cba;
	width: 79%;
	height: 100%;
}


#inputText{
	width: 100%;
	border: solid 1px black;

}

#userListDiv{
	height: 100%;
	width: 20%;
	border: solid 1px black;
	overflow: auto;
	
}

#chatLog{
	width: 100%;
	height: 100%;
}

#userListText{
	width: 100%;
	height: 100%;

}	

p{
	padding: 10%;
}